* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

/*referensi color*/
/*#f2476a , #fb654e, #eb2d3a. #add8e6, #90ee90*/

/*top code*/
header{
	height: 75px;
	width: 100%;
	background-color: #add8e6;
	position: fixed;
	top: 0;
	z-index: 10;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-logo{
	float: left;
}
.header-logo h1{
	color: white;
}

.logo{
	height: 75px;
 	width: 75px;
}

.header-logo img{
	border-radius: 50%;
}

.header-menu{
	float:right;
	background-color: rgba(255, 255, 255, 0.3);
  	transition: all 0.5s;
}

.header-menu:hover{
	background-color: rgba(255, 255, 255, 0.5);
}

.header-menu a{
	color: white;
	padding: 0 25px;
	line-height: 65px;
	float: left;
	font-size: 20px;
	display: block;
}

.header-menu img{
	height: 100%;
  	/*margin: 13px 0;*/
  	padding-top: 15px;
}



/*middle code*/
.top-wrapper{
padding: 180px 0 100px 0;
background-image: url(bg-cover.jpg);
background-size: cover;
color: white;
text-align: center;
}

.top-wrapper h1{
	text-align: center;
	margin-bottom: 15px;
}
.top-wrapper span{
	background-color: #f2476a;
	padding: 5px;
	color: white;
	border-radius: 10px;
}
.top-wrapper p{
	text-align: center;
	margin-bottom: 5px;
}

/*middle code 2*/
.middle-wrapper {
  padding-bottom: 310px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.profile {
  float: left;
  width: 25%;
}

.profile-icon {
  position: relative;
}

.profile-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.profile-icon a {
  width: 100%;
  height: 295px;
  border-radius: 15%;
  overflow: hidden;
  /*border: 5px solid #fff;*/
  float: left;
  margin-right: 10px;
  position: relative;
}

.profile-icon span {
  display: block;
  width: 100%;
  height: 295px;
  background-color: rgba(200,200,200,.5);
  border-radius: 15%;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 295px;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transform: scale(0) rotate(0);
  transition: .3s;
  color: white;
  font-style: bold;
}

.profile-icon a:hover span{
  opacity: 1;
  transform: scale(1) rotate(360deg);
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}


/*middle code3*/
.bottom-wrapper{
	padding-bottom: 80px;
	text-align: center;
	margin-top: 10%;
}


/*bottom code*/
footer{
	background-color: #add8e6;
	padding-top: 15px;
}

.footer-wrapper img{
	border-radius: 50%;
}

/*btn*/
.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
  margin-left: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.message {
  padding: 15px 40px;
  background-color: #90ee90;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
