/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-wrapper {
  padding: 160px 0 100px 0;
  background-image: url(kumpulanLogo6.jpg); 
  background-size: cover;
  color: grey;
  text-align: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
  color: white;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px;
}

.btn-wrapper img {
  height: 20px;
  width: 20px;
}

.btn-wrapper p {
  margin: 10px 0;
}

.email {
  background-color: #bb41cd;
}

.instagram {
  background-color: #3b5998;
}

.facebook {
  background-color: #239b76;
  /*margin-right: 10px;*/
}

.twitter {
  background-color: #f2add2;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  margin: 15px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 10px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 65px;
  width: 75px;
}

.header-left {
  float: left;
  }

.header-left img {
  border-radius: 50%;
}  

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 100%;
  padding: 0 25px;
  color: white;
  display: block;
}

.header-right img {
  height: 100%;
  margin: 13px 0;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
 position: relative;
 padding: 10px;
 }

.lesson-icon img {
  width: 100%; 
  height: 295px;
  border-radius: 15px;
}

/*.lesson-icon p {
  position: bottom;
  top: 90px;
  width: 100%;
  color: black;
}*/
.lesson-icon a {
  width: 100%;
  height: 295px;
  border-radius: 15%;
  overflow: hidden;
  /*border: 5px solid #fff;*/
  float: left;
  margin-right: 10px;
  position: relative;
}

.lesson-icon span {
  display: block;
  width: 100%;
  height: 295px;
  background-color: rgba(200,200,200,.5);
  border-radius: 15%;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 295px;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transform: scale(0) rotate(0);
  transition: .3s;
  color: white;
  font-style: bold;
}

.lesson-icon a:hover span{
  opacity: 1;
  transform: scale(1) rotate(360deg);
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
  text-align: left;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  margin-top: 10%;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 55px;
  height: 55px;
  float: right;
  margin: 15px 0;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 15px;
  opacity: .7;
  background-color: grey;
}
